<!DOCTYPE HTML>
<html>

<%- include("head") -%>

<body>

  <div class="gtco-loader"></div>

  <div id="page">
    <%- include('header-menu') -%>

    <% if(isHome) { %>
      <%- include('header-index') -%>
    <% } else { %>
        <%- include('header') -%>
    <% } %>
